{:objects
 {:Person
  {:description "A person in the system"
   :fields
   {:ID {:type ID}
    :firstname {:type String}
    :lastname {:type String}
    :groups {:type (list :Group)
             :description "Groups this person belongs to"
             :resolve :Person/groups}
    :email {:type (non-null String)}}}

  :Group
  {:description "A group of people"
   :fields
   {:ID {:type ID}
    :name {:type (non-null String)}
    :people {:type (list :Person)
                       :description "People in this group"
                       :resolve :Group/people}}}}

 :queries
 {:Person_by_id
  {:type :Person
   :description "Access a Person by ID, if it exists"
   :args {:ID {:type ID}}
   :resolve :query/Person-by-id}

  :Group_by_id
  {:type :Group
   :description "Access a Group by ID, if it exists"
   :args {:ID {:type ID}}
   :resolve :query/Group-by-id}}}
