{:objects
 {:Person
  {:description "A person in the system"
   :fields
   {:ID {:type ID}
    :firstname {:type String}
    :lastname {:type String}
    :groups {:type (list :Group)
             :description "Groups this person belongs to"
             :resolve :Person/groups}
    :email {:type (non-null String)}}}

  :Group
  {:description "A group of people"
   :fields
   {:ID {:type ID}
    :name {:type (non-null String)}
    :people {:type (list :Person)
             :description "People in this group"
             :resolve :Group/people}}}}

 :queries
 {:person
  {:type :Person
   :description "Access a Person"
   :args {:ID {:type ID}
          :firstname {:type String}
          :lastname {:type String}
          :email {:type String}}
   :resolve :query/person}

  :group
  {:type :Group
   :description "Access a Group"
   :args {:name { :type String }
          :ID {:type ID}}
   :resolve :query/group}}
 :mutations
 {
  :addPerson
  {:args
   {:firstname {:type String}
    :lastname {:type String}
    :email {:type (non-null String)}}
   :resolve :mutation/addPerson
   :type :Person}
 :changePerson
  {:args
   {:ID {:type ID}
    :firstname {:type String}
    :lastname {:type String}
    :email {:type String}}
   :resolve :mutation/changePerson
   :type :Person}
  :addGroup
  {:args {:name {:type (non-null String)}}
   :resolve :mutation/addGroup
   :type :Group}
  :changeGroup
  {:args {:name { :type String }
          :ID {:type ID}}
   :resolve :mutation/changeGroup
   :type :Group}}}
