{:objects {:p14n.spec/Person {:description "A person in the system", :fields {:p14n.spec/groups {:description "Groups this person belongs to", :resolve :Person/groups, :type (list :p14n.spec/Group)}, :p14n.spec/lastname {:type String}, :p14n.spec/firstname {:type String}, :p14n.spec/email {:type (non-null String)}, :p14n.spec/ID {:type ID}}}, :p14n.spec/Group {:description "A group of people", :fields {:p14n.spec/people {:description "People in this group", :resolve :Group/people, :type (list :p14n.spec/Person)}, :p14n.spec/name {:type (non-null String)}, :p14n.spec/ID {:type ID}}}}, :queries {:Person_by_id {:type :p14n.spec/Person, :description "Access a Person by ID, if it exists", :args {:iden {:type ID}}, :resolve :query/Person-by-id}, :Group_by_id {:type :p14n.spec/Group, :description "Access a Group by ID, if it exists", :args {:iden {:type ID}}, :resolve :query/Group-by-id}}}
