{:objects {:Person {:description "A person in the system", :fields {:groups {:description "Groups this person belongs to", :resolve :Person/groups, :type (list :Group)}, :lastname {:type String}, :firstname {:type String}, :email {:type (non-null String)}, :ID {:type (non-null :int?)}}}, :Group {:description "A group of people", :fields {:people {:description "People in this group", :resolve :Group/people, :type (list :Person)}, :name {:type (non-null String)}, :ID {:type (non-null :int?)}}}}, :queries {:Person_by_id {:type :Person, :description "Access a Person by ID, if it exists", :args {:ID {:type ID}}, :resolve :query/Person-by-id}, :Group_by_id {:type :Group, :description "Access a Group by ID, if it exists", :args {:ID {:type ID}}, :resolve :query/Group-by-id}}}
