{:objects {:Person {:description "A person in the system", :fields {:groups {:description "Groups this person belongs to", :type (list :Group)}, :lastname {:type String}, :firstname {:type String}, :email {:type (non-null String)}, :ID {:type ID}}}, :Group {:description "A group of people", :fields {:people {:description "People in this group", :type (list :Person)}, :name {:type (non-null String)}, :ID {:type ID}}}}, :queries {:person {:type :Person, :description "Access a Person", :args {:email {:type String}, :ID {:type ID}}, :resolve :query/person}, :group {:type :Group, :description "Access a Group", :args {:name {:type String}, :ID {:type ID}}, :resolve :query/group}}}
